{% extends "pages/index.html" %}

{% block title %}Contact form{% endblock %}

{% block content %}
<h1>Fill contact form</h1>
<form action="/contact/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

<a href="{% url 'companies_list' %}">All Companies</a>
<a href="/catalog/companies/new/">Add Company</a>
{% endblock %}
