<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New company</title>
  </head>
  <body>
    <h1>Add info about new company</h1>
    <form action="{% url 'company_create' %}" method="post">{% csrf_token %}
      {% comment %}<!-- <input type="text" name="title">
      <input type="text" name="description"> -->{% endcomment %}
      {{ form }}
      <input type="submit" name="Create company">
    </form>
  </body>
</html>
