<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ company.title }}</title>
  </head>
  <body>
    <h1>{{ company.title }}</h1>
    <p>{{ company.description }}</p>
    {% if company.owner %}
    <p>{{ company.owner.name }}</p>
    {% endif %}
    <a href="{% url 'company_edit' company.id %}">Edit company</a>
    {% if owners_companies %}
    <h2>Other companies for same owner</h2>
    {% for c in owners_companies %}
    <p><a href="{% url 'company_detail' c.id %}">{{ c.title }}</a></p>
    {% endfor %}{% endif %}

  </body>
</html>
