<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Companies list</title>
  </head>
  <body>
    <h1>Catalog index - companies list</h1>
    {% for company in companies %}
    <h2>{{ company.title }}</h2>
    <p>{{ company.description }}</p>
    <a href="{% url 'company_detail' company.id %}">Details</a>
    {% endfor %}
  </body>
</html>
