<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit company {{ company }}</title>
  </head>
  <body>
    <h1>Edit company {{ company }}</h1>
    <form action="{% url 'company_edit' company.id %}" method="post">{% csrf_token %}
      {% comment %}<!-- <input type="text" name="title">
      <input type="text" name="description"> -->{% endcomment %}
      {{ form }}
      <button type="submit">Save changes</button>
    </form>
  </body>
</html>
