<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New user</title>
  </head>
  <body>
    <h1>Enter your user details</h1>
    <form method="post">{% csrf_token %}
      {% comment %}<!-- <input type="text" name="title">
      <input type="text" name="description"> -->{% endcomment %}
      {{ form }}
      <input type="submit" value="Create user">
    </form>
  </body>
</html>
